<h1><%= "#{@user.username}'s dashboard" %></h1>

<h3><%= link_to 'Add Food', new_user_entry_path(@user.id) %></h3>

<section class='today'>
  <!-- for today's stats -->
  <section class='score'>
    <h2><%="Today's Score: #{@dqs}"%> </h2>
  </section>
  <section class='log'>
    <% Entry::MEAL_TYPES.each do |meal_type| %>
    <div class="log_meal_type">
      <h3><%= meal_type %></h3>
      <% @user.today_by_category(meal_type).each do |category, total| %>
        <p> <%= category %>: <%= total %></p>
      <% end %>
    </div>
    <% end %>
  </section>
</section>

<section class='recommended'>
  <!-- for what to eat next -->
</section>

<section class='stats'>
  <!-- for what longterm trends -->
  <!-- link to extended stats? -->
</section>
