<h1>Add New Entry</h1>

<%= form_with model: [@user, Entry.new], local: true do |f| %>
  <%= f.label 'Meal Type' %>
  <%= f.select :meal_type, Entry::MEAL_TYPES %>
  <br/><br/>

  <%= f.label 'Food Category' %>
  <%= f.select :category, Entry::CATEGORIES %>
  <br/><br/>

  <%= f.label 'Serving Size' %>
  <%= f.select :serving, [0.5, 1, 1.5, 2] %>
  <br/><br/>

  <%=  f.submit 'Submit '%>
<% end %>
