<h1>Add New Entry</h1>

<%= form_with model: [@user, Entry.new], local: true do |f| %>
  <%= f.label 'Meal Type' %>
  <%= f.select :meal_type, ['Breakfast', 'Lunch', 'Dinner', ' Snacks', 'Beverages'] %>
  <br/><br/>

  <%= f.label 'Food Category' %>
  <%= f.select :category, ['Fruits', 'Vegetables', 'Lean Meats & Fish', 'Nuts & Seeds', 'Whole Grains', 'Dairy', 'Refined Grains', 'Sweets', 'Fried Foods', 'Fatty Proteins'] %>
  <br/><br/>

  <%= f.label 'Serving Size' %>
  <%= f.select :serving, [0.5, 1, 1.5, 2] %>
  <br/><br/>

  <%=  f.submit 'Submit '%>
<% end %>
